*{
  font-family: 'Garamond', 'Georgia', 'Times New Roman';
  /*
  outline-style: solid;
  outline-width: 1px;
  outline-color: red;
  */
}
body {
  height: 100vh;
  background: linear-gradient(to bottom right,#7eb5ca,#bfc2ca );
}

.app{
  position: absolute;
  background-color: #FFFAF1;
  top: 20%;
  left: 30%;
  width: 40vw;
  min-height: 40vh;
  padding: 5em;
  border: thin;
  border-radius: 1em;
  box-shadow: 10px 5px 5px grey;
}

li{
  list-style-type: none;
}

ul{
  margin: 0em;
}

input{
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom:0.1em solid ;
  background-color: transparent;
  margin-right: 5em;
}

input[type=submit]{
  margin-left: 1em;
}

button {
  margin-left: 2em;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

p{
  margin-top: 3em;
}

.general{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general>*{
  margin-left: 1em;
  margin-top: 0.5em;
  margin-right: 3em;
} 

.section{
  padding: 1em;
  padding-top: 0.2em;
  margin: 1em; 
}

.section .button-set{
  display: flex;
  justify-content: flex-end;
}

